.footer_contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    .aside_1{
        display: flex;
        flex-wrap: nowrap;
        margin-left: 50px;
        padding-top: 50px;
        &::before{
            content: '';
            position: absolute;
            width: 229px;
            height: 5px;
            background: var(--clr-primary-1);
            margin-top: 134px;
            border-radius: 3px;
        }
        .logo_footer{
            width: 70px;
            height: 70px;
            margin-right: 20px;
        }
        .title_footer{
            font-size: 50px;
            font-family: $font_1;
            margin-top: 7px;
            color: var(--clr-primary-2);
        }
        .parg_footer{
            margin-top: 242px;
            width: 388px;
            height: 100px;
            margin-left: -233px;
            font-size: 17px;
            font-family: $font_1;
            font-style: italic;
            color: var(--clr-primary-2);
        }
    }
    .aside_2{
        display: flex;
        flex-wrap: wrap;
        margin-top: 64px;
        .ul_footer{
            margin-left: 156px;
            margin-right: 156px;
            .title_footer_2{
                font-size: 27px;
                color: var(--clr-primary-2);
                font-family: $font_1;
                font-style: italic;
                margin-bottom: 74px;
                text-decoration: underline;
            }
            .li_footer{
                margin: 40px 0px;
                display: block;
                .link_footer{
                    font-size: 17px;
                    font-family: $font_1;
                    color: var(--clr-primary-2);
                    text-decoration: none;
                    &:hover{
                        color: var(--clr-primary-1);
                        text-decoration: underline;
                    }
                }
            }
        }
        .ul_follow{
            .title_follow{
                font-size: 27px;
                color: var(--clr-primary-2);
                font-family: $font_1;
                font-style: italic;
                margin-bottom: 74px;
                text-decoration: underline;
            }
            .li_follow{
                width: 70px;
                height: 70px;
                border-radius: 50%;
                background: var(--clr-primary-1);
                display: inline-block;
                margin-left: 15px;
                margin-right: 15px;
                cursor: pointer;
                &:hover{
                    background: var(--clr-primary-6);
                }
                .follow{
                    width: 35px;
                    height: 35px;
                    margin-left: 18px;
                    margin-top: 16px;
                }
            }
        }
    }
    .copyright{
        width: 100%;
        height: 50px;
        background: var(--clr-primary-7);
        .title_copyright{
            font-size: 14px;
            font-family: $font_1;
            font-style: italic;
            color: var(--clr-primary-2);
            font-weight: normal;
            text-align: center;
            padding-top: 17px;
        }
    }
}
