@media screen and (min-width:769px) and (max-width:1544px){
    .Navbar{
        .ul_nav{
            margin-right: 10px;
            margin-top: -28px;
            .li_nav{
                display: inline-block;
                margin-left: 38px;
                margin-right: 38px;
                .link_nav{
                    text-align: center;

                }
            }
        }
        .logo_nav{
            margin-left: 19px;
        }
        .search_nav{
            display: none;
            .search-add{
                display: none;
            }
        }
        .search-outline{
            display: none;
        }
        .search_none{
            display: none;
        }
        .close-block{
            display: block;
        }
        .menu-outline{
            display: none;
        }
        .close-outline-2{
            @extend .menu-outline;
            display: none;
        }
        .aside-nav{
            display: none;
        }
    }
    #Service{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .img_service{
            display: flex;
            flex-wrap: nowrap;
            margin-left: auto;
            margin-right: auto;
            .img_service_1{
                width: 234px;
                height: 387px;
                margin-left: 7px;
                &::after{
                    display: none;
                }
            }
        }
        .text_service{
            margin-top: 170px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            &::after{
                display: none;
            }
            .title_service{
                font-size: 26px;
                margin-left: -19px;
                margin-bottom: 25px;
                text-decoration: underline var(--clr-primary-1) 3px;
                &::after{
                    display: none;
                }
            }
            .parg_service{
                margin-left: 21px;
                font-size: 15px;
            }
            .explore_service{
                width: 100px;
                height: 40px;
                background: var(--clr-primary-1);
                font-size: 15px;
                font-family: $font_1;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 100px;
            }
        }
    } 
    .about{
        flex-wrap: nowrap;
        margin-bottom: 80px;
        .text_about{
            width: 60%;
            margin-left: auto;
            margin-right: auto;
            &::before{
                display: none;
            }
            .title_about{
                font-size: 25px;
                margin-bottom: 36px;
                text-decoration: var(--clr-primary-1) 3px underline;
            }
            .parg_about{
                font-size: 15px;
            }
            .parg_about_2{
                font-size: 15px;
                margin-top: 6px;
                margin-bottom: 50px;
            }
            .explore_about{
                width: 97px;
                height: 41px;
                margin-top: -13px;
                font-size: 15px;
                margin-left: 100px;
                margin-right: 100px;
            }
        }
        .img_about{
            width: 234px;
            height: 387px;
            padding-top: 20px;
            margin-left: auto;
            margin-right: auto;
            &::after{
                display: none;
            }
        }
    }
    #Contact{
        width: 100%;
        height: auto;
        margin-top: -109px;
        .contact{
            .text_contact{
                @include title;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: -337px;
                .title_contact{
                    @include text;
                    font-size: 25px;
                    margin-bottom: 0px;
                    text-decoration: var(--clr-primary-1) 3px underline;
                    &::before{
                        display: none;
                    }
                } 
            }
        }
        .ul_contact{
            margin-top: 0;
            .li_contact{
                margin-left: 40px;
                .img_contact{
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                    .img{
                        margin-left: 9px;
                    }
                }
                .h1_contact{
                    font-size: 14px;
                }
            }
        }
        .contactUs{
            width: 360px;
            height: 322px;
            margin-top: 100px;
        }
    }
    .section_person{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 50px;
        .person{
            padding-top: 100px;
            margin-left: 97px;
            .img_person{
                width: 306px;
                height: 460px;
                margin-left: -6px;
                margin-right: -6px;
                &::after{
                    display: none;
                }
            }
        }
        .text_person{
            width: 50%;
            height: 255px;
            .name_person{
                font-size: 24px;
                text-decoration: underline 3px var(--clr-primary-1);
                &::before{
                    display: none;
                }
            }
            .detail_person{
                margin-top: 40px;
                font-size: 16px;
            }
            .stars_person{
                width: 50px;
                height: 50px;
                margin-top: 20px;
                margin-left: 50px;
                display: flex;
                flex-wrap: nowrap;
                .stars{
                    width: 30px;
                    height: 30px;
                }
                .evaluation{
                    font-size: 20px;
                    margin-left: 10px;
                }
            }
        }
    }
    .footer_contact{
        .aside_1{
            &::before{
                width: 229px;
                height: 5px;
                border-radius: 3px;
                text-align: center;
                margin-top: 82px;
                margin-left: -20px;
            }
            .logo_footer{
                width: 58px;
                height: 58px;
                margin-right: 20px;
            }
            .title_footer{
                font-size: 25px;
                margin-top: 15px;
            }
            .parg_footer{
                margin-top: 150px;
            }
        }
        .aside_2{
            display: flex;
            flex-wrap: nowrap;
            margin-top: 64px;
            margin-left: 93px;
            margin-right: 20px;
            .ul_footer{
                margin-left: -24px;
                margin-right: 122px;
                .title_footer_2{
                    font-size: 18px;
                    margin-bottom: 74px;
                }
                .li_footer{
                    margin-left: 20px;
                    margin-right: 20px;
                    .link_footer{
                        font-size: 14px;
                    }
                }
            }
            .ul_follow{
                .title_follow{
                    font-size: 18px;
                }
                .li_follow{
                    width: 40px;
                    height: 40px;
                    display: block;
                    margin-top: 10px;
                    .follow{
                        width: 29px;
                        height: 35px;
                        margin-left: 5px;
                        margin-top: 2px;
                    }
                }
            }
        }
        .copyright{
            width: 100%;
            height: 50px;
            background: var(--clr-primary-7);
            .title_copyright{
                font-size: 14px;
                font-family: $font_1;
                font-style: italic;
                color: var(--clr-primary-2);
                font-weight: normal;
                text-align: center;
                padding-top: 17px;
            }
        }
    }
}